.footer{
    padding: 150px 0;
    margin-top: 100px;
    background: #FF1D5D;
    @include desktop{
        padding: 80px 0;
    }
    .call-to-action{
        width: 100%;
        color: #fff;
        h2{
            font-size: 55px;
            margin-bottom: 20px;
            @include desktop{
                font-size: 40px;
            }
            @include mobile{
                font-size: 30px;
            }
        }
        p{
            font-size: 20px;
            letter-spacing: 2px;
            margin-bottom: 15px;
            @include mobile{
                font-size: 18px;
            }
        }
        ol {
            margin-bottom: 20px;
            font-size: 18px;
            letter-spacing: 2px;
        }
        code {
            color: #fff;
        }
        a{
            padding: 15px 40px;
            background: $white;
            color: $text-color-dark;
            font-weight: 600;
            text-decoration: none;
            letter-spacing: 2px;
            margin-bottom: 10px;
        }
        button{
            background: $white;
            color: $text-color-dark;
            font-weight: 600;
            text-decoration: none;
            letter-spacing: 2px;
        }
        .row {
            margin-bottom: 25px;
        }
    }
}