.navbar-brand {
    color: #fff;
    font-size: 3.25rem;
    font-weight: bold;
    @include mobile{
        font-size: 40px;
    }

    span {
        background-color: $btn-color;
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
    }
}
a.navbar-brand:hover {
    color: rgb(128, 125, 125);
}
